<%= form_for(@portfolio_change) do |f| %>
  <% if @portfolio_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio_change.errors.count, "error") %> prohibited this portfolio_change from being saved:</h2>

      <ul>
      <% @portfolio_change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_day %><br>
    <%= f.date_select :date_of_day %>
  </div>
  <div class="field">
    <%= f.label :share %><br>
    <%= collection_select(:portfolio_change, :share_id, Share.all, :id, :name_isin) %>
    <%= link_to "Create new Share", new_share_path %>
  </div>
  <div class="field">
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type, ['buy', 'sell'] %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price_per_share %><br>
    <%= f.text_field :price_per_share %>
  </div>
  <div class="field">
    <%= f.label :total_cost_of_order %><br>
    <%= f.text_field :total_cost_of_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
