{
  "title": {
    "text": "Depotwert und <%= @stock_exchange.name %>"
  },
  "yAxis": [
    {
      "title": {
        "text": "Perfomanz des Depotwert in EUR",
        "style": {
          "color": "#AA4643"
        }
      }
    },
    {
      "title": {
        "text": "Perfomanz des Index-Kurses",
        "style": {
          "color": "#4572A7"
        }
      }
    }
  ],
  "series": [
    {
      "name": "<%= @stock_exchange.name %>",
      "data": [
        <% @stock_exchange_normalized_prices.each_with_index do |daily_closing_price, idx| %>
        [ <%= daily_closing_price[:when].to_i %>, <%= daily_closing_price[:percentaged] %> ]<%= idx != @stock_exchange_normalized_prices.length - 1 ? ',' : '' %>
        <% end %>
      ],
      "type": "area",
      "threshold": 0,
      "tooltip": {
        "yDecimals": 2,
        "pointFormat": "<span style=\"color:{series.color}\">{series.name}</span>: <b>{point.y} %</b><br/>",
        "valueDecimals": 2
      },
      "color": "#4572A7",
      "fillColor": {
        "linearGradient": {
          "x1": 0,
          "y1": 0,
          "x2": 0,
          "y2": 1
        },
        "stops": [[0, "#4572A7"], [1, "rgba(0,0,0,0)"]]
      }
    },
    {
      "name": "Depotperformanz in %",
      "data": <%= @depot_perfomance_per_date.to_json %>,
      "id": "total_prices",
      "type": "line",
      "color": "#AA4643",
      "tooltip": {
        "yDecimals": 2,
        "pointFormat": "<span style=\"color:{series.color}\">{series.name}</span>: <b>{point.y} %</b><br/>",
        "valueDecimals": 2
      }
    },
    {
      "name": "Performanz des Depots vs. Index in %",
      "data": <%= @differences.to_json %>,
      "id": "differences",
      "type": "line",
      "color": "#46AAFF",
      "tooltip": {
        "yDecimals": 2,
        "pointFormat": "<span style=\"color:{series.color}\">{series.name}</span>: <b>{point.y} %</b><br/>",
        "valueDecimals": 2
      }
    }

  ]
}