<p id="notice"><%= notice %></p>

<p>
  <strong>Share:</strong>
  <%= link_to @daily_closing_price.share.name_isin, @daily_closing_price.share %>
</p>

<p>
  <strong>Price:</strong>
  <%= @daily_closing_price.price %>
</p>

<p>
  <strong>Date of Day:</strong>
  <%= @daily_closing_price.date_of_day %>
</p>

<%= link_to 'Edit', edit_daily_closing_price_path(@daily_closing_price) %> |
<%= link_to 'Back', daily_closing_prices_path %>
