<%= form_for(@identifier) do |f| %>
  <% if @identifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identifier.errors.count, "error") %> prohibited this identifier from being saved:</h2>

      <ul>
      <% @identifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :share %><br>
    <%= collection_select(:identifier, :share_id, Share.all, :id, :name_isin) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :provider %><br>
    <%= f.text_field :provider %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
