<%= form_for(@stock_exchange_daily_closing_price) do |f| %>
  <% if @stock_exchange_daily_closing_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_exchange_daily_closing_price.errors.count, "error") %> prohibited this stock_exchange_daily_closing_price from being saved:</h2>

      <ul>
      <% @stock_exchange_daily_closing_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_exchange %><br>
    <%= collection_select( :stock_exchange_daily_closing_price, :stock_exchange_id, StockExchange.all, :id, :name ) %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :date_of_day %><br>
    <%= f.date_select :date_of_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
