<%= form_for(@stock_exchange_daily_closing_price) do |f| %>
  <% if @stock_exchange_daily_closing_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_exchange_daily_closing_price.errors.count, "error") %> prohibited this stock_exchange_daily_closing_price from being saved:</h2>

      <ul>
      <% @stock_exchange_daily_closing_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stockExchange_id %><br>
    <%= f.text_field :stockExchange_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :when %><br>
    <%= f.date_select :when %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
