<p id="notice"><%= notice %></p>

<h1>Listing Stock Exchange Daily Closing Prices</h1>

<table>
  <thead>
    <tr>
      <th>Stockexchange</th>
      <th>Price</th>
      <th>Date of Day</th>
      <th>Change in % (compared to previous day)</th>
      <th>Change in Points (compared to previous day)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_exchange_daily_closing_prices.each do |stock_exchange_daily_closing_price| %>
      <tr>
        <td><%= link_to stock_exchange_daily_closing_price.stock_exchange.name, stock_exchange_daily_closing_price.stock_exchange %></td>
        <td><%= number_to_currency stock_exchange_daily_closing_price.price, :unit => ' Points' %></td>
        <td><%= stock_exchange_daily_closing_price.date_of_day.strftime('%a') %> <%= stock_exchange_daily_closing_price.date_of_day.to_s %></td>
        <td class="percentage"><%= number_to_percentage stock_exchange_daily_closing_price.change_to_previous_in_percent, :precision => 3 %></td>
        <td class="currency"><%= number_to_currency stock_exchange_daily_closing_price.change_to_previous_absolute, :unit => 'Points' %></td>
        <td><%= link_to 'Show', stock_exchange_daily_closing_price %></td>
        <td><%= link_to 'Edit', edit_stock_exchange_daily_closing_price_path(stock_exchange_daily_closing_price) %></td>
        <td><%= link_to 'Destroy', stock_exchange_daily_closing_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @stock_exchange_daily_closing_prices %>

<br>

<%= link_to 'New Stock exchange daily closing price', new_stock_exchange_daily_closing_price_path %>
