<p id="notice"><%= notice %></p>

<p>
  <strong>Stockexchange:</strong>
  <%= link_to @stock_exchange_daily_closing_price.stock_exchange.name, @stock_exchange_daily_closing_price.stock_exchange %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock_exchange_daily_closing_price.price %>
</p>

<p>
  <strong>Date of Day:</strong>
  <%= @stock_exchange_daily_closing_price.date_of_day %>
</p>

<%= link_to 'Edit', edit_stock_exchange_daily_closing_price_path(@stock_exchange_daily_closing_price) %> |
<%= link_to 'Back', stock_exchange_daily_closing_prices_path %>
